*{font-family:'Generic-font';}

.section-header {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}

.title {
    font-size: small;
}

.loc {
    font-size: small;
    color: var(--ion-color-primary);
}

ion-slide {
    display: block;
    text-align: left;
}

ion-slides {
    margin-bottom: 20px;
}
