<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
    <ion-col size="6" style="display:flex; align-items: center; justify-content:left">
      <img src="assets/icon/favicon.png" style="height: 50px;">
    </ion-col>
    <!-- <ion-col size="6" style="text-align: right;">
      <ion-button fill="clear" color="light">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col> -->
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-no-padding" *ngFor="let entry of data;">
    <ion-col size="9">
      <h2 class="section-header">{{ entry.title }}</h2>
    </ion-col>


    <ion-slides [options]="opts">
      <ion-slide style="height: 15vh; width: 45hv;" *ngFor="let radio of entry.radios" tappable
        (click)="openAlbum(radio)">
        <div style="height: 85%; width: 100%; display:flex; align-items: center; justify-content:center">
          <img [src]=radio.image onerror="this.error=null; this.src= 'assets/icon/favicon.png'">
        </div>
        <span class="title">{{radio.name}}</span>
      </ion-slide>

    </ion-slides>
  </ion-row>

</ion-content>